body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald';
    
}

.header{
    background-image: url(../img/bg_hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text{
    margin-top: 30%;
}

.header-text-1{
    font-weight: 200;
    font-size: 3rem;
}

.header-text-2{
    font-weight: 600;
    font-size: 3.5rem;
}

.texto-section{
    font-weight: 700;
    font-size: 2rem;


}

.logo-xp{
    width: 7rem;
}

.text-xp{
    font-weight: 600;
    font-size: 1.5rem;
}

.date-xp, .card-text{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1rem;
}

.card-title{
    font-family: 'Oswald';
    font-size: 400;
}
.card{
    border: 0;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: yellow;
}
  
.card:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  i{
      color: #ffffff;
  }

@media (min-width: 576px) {
    .header-text-1 {
      font-size: 4rem;
    }
    .header-text-2 {
        font-size: 5rem;
      }
    .texto-section{
        font-size: 3rem;
    }  
    .logo-xp{
        width: 10rem;
    }  
    .text-xp{
        font-size: 2rem;
    }   
}

@media (min-width: 992px) {
    .header-text-1 {
      font-size: 5rem;
    }
    .header-text-2 {
        font-size: 6rem;
      }
    .texto-section{
        font-size: 4rem;
    }  
    .logo-xp{
        width: 13rem;
    }
    .text-xp{
        font-size: 2.5rem;
    } 
    .date-xp{
        font-size: 1.5rem;
    }   
}


